<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0" metadata-complete="true">
  <display-name>estrutura-art-web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <session-config>
      <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/view/404/index.jsp</location>
  </error-page>
  <context-param>
    <param-name>source</param-name>
    <param-value>/estrutura-art-web-maven-version/</param-value>
  </context-param>
  <context-param>
    <param-name>nomeEmpresa</param-name>
    <param-value>EstruturArt</param-value>
  </context-param>
  <context-param>
      <param-name>folderUpload</param-name>
      <param-value>C:/DEV/projects/estrutura-art-web-maven-version/src/main/webapp/files</param-value>
  </context-param>
  <context-param>
      <param-name>widthModelo</param-name>
      <param-value>300</param-value>
  </context-param>
  <context-param>
      <param-name>heigthModelo</param-name>
      <param-value>300</param-value>
  </context-param>
  <context-param>
      <param-name>extensoesImagem</param-name>
      <param-value>jpg, jpeg, bmp, png</param-value>
  </context-param>
  <servlet>
      <description>Autenticação</description>
      <display-name>Auth</display-name>
      <servlet-name>Auth</servlet-name>
      <servlet-class>br.com.estruturart.controller.AuthController</servlet-class>
  </servlet>
  <servlet>
      <description>Parâmetro</description>
      <display-name>Parametro</display-name>
      <servlet-name>Parametro</servlet-name>
      <servlet-class>br.com.estruturart.controller.ParametroController</servlet-class>
  </servlet>
  <servlet>
      <description>Webservice</description>
      <display-name>Webservice</display-name>
      <servlet-name>Webservice</servlet-name>
      <servlet-class>br.com.estruturart.controller.WebserviceController</servlet-class>
  </servlet>
  <servlet>
      <description>Cidade</description>
      <display-name>Cidade</display-name>
      <servlet-name>Cidade</servlet-name>
      <servlet-class>br.com.estruturart.controller.CidadeController</servlet-class>
  </servlet>
  <servlet>
      <description>Orçamento</description>
      <display-name>Orcamento</display-name>
      <servlet-name>Orcamento</servlet-name>
      <servlet-class>br.com.estruturart.controller.OrcamentoController</servlet-class>
  </servlet>
  <servlet>
      <description>Imagem</description>
      <display-name>Image</display-name>
      <servlet-name>Image</servlet-name>
      <servlet-class>br.com.estruturart.controller.ImageController</servlet-class>
  </servlet>
  <servlet>
      <description>Página Inícial</description>
      <display-name>Home</display-name>
      <servlet-name>Home</servlet-name>
      <servlet-class>br.com.estruturart.controller.HomeController</servlet-class>
  </servlet>

  <servlet>
      <description>Página Inícial</description>
      <display-name>Listagem</display-name>
      <servlet-name>Usuario</servlet-name>
      <servlet-class>br.com.estruturart.controller.UsuarioController</servlet-class>
  </servlet>

  <servlet>
      <description>Listagem de Fornecedores</description>
      <display-name>Fornecedor</display-name>
      <servlet-name>Fornecedor</servlet-name>
      <servlet-class>br.com.estruturart.controller.FornecedorController</servlet-class>
  </servlet>

  <servlet>
      <description>Listagem de Materiais</description>
      <display-name>Material</display-name>
      <servlet-name>Material</servlet-name>
      <servlet-class>br.com.estruturart.controller.MaterialController</servlet-class>
  </servlet>
  <servlet>
      <description>Listagem de Modelos</description>
      <display-name>Modelo</display-name>
      <servlet-name>Modelo</servlet-name>
      <servlet-class>br.com.estruturart.controller.ModeloController</servlet-class>
  </servlet>
  <servlet>
      <description>Listagem de Pedidos</description>
      <display-name>Pedido</display-name>
      <servlet-name>Pedido</servlet-name>
      <servlet-class>br.com.estruturart.controller.PedidoController</servlet-class>
  </servlet>
  <servlet>
      <description>Listagem de Lancamentos</description>
      <display-name>Lancamento</display-name>
      <servlet-name>Lancamento</servlet-name>
      <servlet-class>br.com.estruturart.controller.LancamentoController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Auth</servlet-name>
      <url-pattern>/auth</url-pattern>
      <url-pattern>/auth/logout</url-pattern>
      <url-pattern>/auth/flash-messages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Usuario</servlet-name>
    <url-pattern>/usuario</url-pattern>
    <url-pattern>/usuario/</url-pattern>
    <url-pattern>/usuario/cadastro</url-pattern>
    <url-pattern>/usuario/cadastro/</url-pattern>
    <url-pattern>/usuario/index/page/*</url-pattern>
    <url-pattern>/usuario/editar/id/*</url-pattern>
    <url-pattern>/usuario/find-cpf-cnpj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Pedido</servlet-name>
    <url-pattern>/pedido</url-pattern>
    <url-pattern>/pedido/</url-pattern>
    <url-pattern>/pedido/cadastro</url-pattern>
    <url-pattern>/pedido/cadastro/</url-pattern>
    <url-pattern>/pedido/index/page/*</url-pattern>
    <url-pattern>/pedido/editar/id/*</url-pattern>
    <url-pattern>/pedido/visualizar/id/*</url-pattern>
    <url-pattern>/pedido/buscar</url-pattern>
    <url-pattern>/pedido/status</url-pattern>
    <url-pattern>/pedido/cancelar</url-pattern>
    <url-pattern>/pedido/lancamento-item</url-pattern>
    <url-pattern>/pedido/salvar-lancamento-item</url-pattern>
    <url-pattern>/pedido/salvar-foto-item</url-pattern>
    <url-pattern>/pedido/fotos-item</url-pattern>
    <url-pattern>/pedido/imprimir-op/id/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fornecedor</servlet-name>
    <url-pattern>/fornecedor</url-pattern>
    <url-pattern>/fornecedor/</url-pattern>
    <url-pattern>/fornecedor/cadastro</url-pattern>
    <url-pattern>/fornecedor/index/page/*</url-pattern>
    <url-pattern>/fornecedor/editar/id/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Material</servlet-name>
    <url-pattern>/material</url-pattern>
    <url-pattern>/material/</url-pattern>
    <url-pattern>/material/cadastro</url-pattern>
    <url-pattern>/material/index/page/*</url-pattern>
    <url-pattern>/material/editar/id/*</url-pattern>
    <url-pattern>/material/buscar-modelo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Modelo</servlet-name>
    <url-pattern>/modelo</url-pattern>
    <url-pattern>/modelo/</url-pattern>
    <url-pattern>/modelo/cadastro</url-pattern>
    <url-pattern>/modelo/index/page/*</url-pattern>
    <url-pattern>/modelo/editar/id/*</url-pattern>
    <url-pattern>/modelo/buscar-modelo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Orcamento</servlet-name>
    <url-pattern>/orcamento</url-pattern>
    <url-pattern>/orcamento/etapa1</url-pattern>
    <url-pattern>/orcamento/etapa2</url-pattern>
    <url-pattern>/orcamento/etapa3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Webservice</servlet-name>
    <url-pattern>/webservice/find-cep</url-pattern>
    <url-pattern>/webservice/find-usuario</url-pattern>
    <url-pattern>/webservice/find-cep-object</url-pattern>
    <url-pattern>/webservice/find-estados</url-pattern>
    <url-pattern>/webservice/find-cidades</url-pattern>
    <url-pattern>/webservice/find-cpf-cnpj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cidade</servlet-name>
    <url-pattern>/cidade/find-cidade</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lancamento</servlet-name>
    <url-pattern>/lancamento</url-pattern>
    <url-pattern>/lancamento/</url-pattern>
    <url-pattern>/lancamento/cadastro</url-pattern>
    <url-pattern>/lancamento/index/page/*</url-pattern>
    <url-pattern>/lancamento/editar/id/*</url-pattern>
    <url-pattern>/lancamento/fluxo-caixa</url-pattern>
    <url-pattern>/lancamento/fluxo-caixa-impressao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Parametro</servlet-name>
    <url-pattern>/parametro</url-pattern>
  </servlet-mapping>
</web-app>
